# This is a basic workflow to help you get started with Actions
name: SyncToS3
# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
# Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # https://github.com/marketplace/actions/s3-sync 
    steps:
      - uses: actions/checkout@master
      - uses: jakejarvis/s3-sync-action@master
        with:
          args: --acl public-read --follow-symlinks --delete --exclude '.git/*' --exclude '.github/*' --exclude '.gitignore'
        env:
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: 'us-west-2'
  invalidate:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@master
        with:
          # need at least 2 here so we can get a proper log in next step
          fetch-depth: 2
      - name: get-updated-files
        run: |
          # allow grep to fail
          set +e
          FILES=$(git log --stat="1000" -1 | grep '|' | awk '{print "/"$1}')
          set -e
          [ -z "$FILES" ] && touch .updated_files && exit 0
          for file in $FILES; do
            echo $file
            # add bare directory to list of updated paths when we see index.html
            [[ "$file" == *"/index.html" ]] && echo $file | sed -e 's/\/index.html$/\//'
          done | sort | uniq | tr '\n' ' ' > .updated_files
      - name: invalidate
        uses: chetan/invalidate-cloudfront-action@v2
        env:
          PATHS_FROM: .updated_files
          AWS_REGION: 'us-west-2'
          DISTRIBUTION: ${{ secrets.DISTRIBUTION }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          DEBUG: 1
